.domanda{
    font-family: Calibri; 
  	font-size: 14px; 
  	color:rgb(31,73,125);
 }

.text{
  	color:rgb(0,0,0);
    font-size: 14px;
	white-space: nowrap;
 }
 #avanti>a{
	float:right;
	clear:left;
 }
#cont{
	padding-top: 100px;
	padding-bottom: 100px;
 }
 .text:hover{
	background-color: rgb(198,217,241);
	border-radius: 5px;
	border: 1px solid rgb(85,142,213);
	padding-top: 3px;
	padding-bottom: 3px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 45px;
    left: 7px;
    height: 16px;
    width: 16px;
    background-color: rgb(255,255,255);
    border-radius: 50%;
	border: 2px solid rgb(31,73,125);
}
.container input:checked ~ .checkmark {
    background-color: rgb(0,0,0);
}


.checkmark:after {
    content: "\2714";	
    position: absolute;
    display: none;
	-webkit-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-moz-transform: scale(0.4);
}
.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {

 	bottom: 10px;
	width: 8px;
	height: 8px;
	color: rgb(255,255,255);
	
}
.btnEnd{
	visibility: hidden;
}

.bottonefine{
    visibility: visible;
}
